#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(3, 39, 39);
  padding: 0;
}

.Reviews {
  margin: 25px;
  width: 350px;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  float: left;
  margin: 0 15px 0 0;
  position: center;
  margin-bottom: 10px;
  height: 530px;
  padding: 10px;
  overflow: auto;
  background: #01051a;
  color: whitesmoke;

}

.Review {
  margin: 25px;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  float: left;
  position: center;
  margin-bottom: 30px;
  padding: 10px;
  overflow: auto;
  background: #0c0e1a;
  color: whitesmoke;
}

.Comments {
  margin: 15px;
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
  float: left;
  position: center;
  margin-bottom: 10px;
  width: 360px;
  height: 500px;
  padding: 0px;
  overflow: auto;
  background: #01051a;
  color: whitesmoke;
}
